.bugs-column {
  display: flex;
  flex-direction: column;
  border-right: 1px solid #ccc;
  border-left: 1px solid #f8f8f8;
  width: 275px;
  padding: 20px;
  flex-shrink: 0;

  & > .bugs-column-header-wrapper {
    display: flex;
    flex-direction: column;
  }
}

.bugs-column-header {
  display: flex;

  & .buglist-title {
    background: transparent;
    border: none;
    color: #333;
    font-weight: bold;
    font-size: 1.4em;
    margin: 0;
    padding: 0;
    padding-top: 2px; // Compensate weird input vertical align
    text-align: center;
    min-width: 0; // Since it's an input
  }
}


.filter-config-button {
  background: transparent url('../images/config.svg');
  background-size: cover;

  &:hover {
    opacity: 0.25;
    transform: rotate(-90deg);
  }
}

.filter-edit {
  display: flex;
  background: #FFFFFF;
  border: none;
  border-radius: 2px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.16), 0px 2px 5px 0px rgba(0, 0, 0, 0.12);
  padding: 12px 0px;
  transition: box-shadow 0.25s ease 0s;

  input {
    flex: 1;
    border: 0;
    margin: 0;
    padding: 0 5px;
    min-width: 0;
  }
}

.bugs-column-button {
  border: none;
  height: 32px;
  opacity: 0.15;
  padding: 0;
  min-width: 32px;
  transition: all 0.2s ease;
}

.bugs-column-remove {
  background: transparent url('../images/remove.svg');
  background-size: cover;

  &:hover {
    opacity:0.25;
    fill:red;
  }
}

.bugs-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: auto;

  & > .bug {
    background: $cardBg;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.15);
    margin: 10px 0;
    position: relative;
    border-radius: 2px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.16), 0px 2px 5px 0px rgba(0, 0, 0, 0.12);

    &.closed {
      //opacity: 0.5;
    }

    & > .bug-title {
      font-size: 1.1em;
      font-weight: normal;
      margin: 0px;
      padding: 15px 15px 0;

      .bug-link {
        color: inherit;
        text-decoration: none;
      }
    }

    & > .bug-summary {
      clear: both;
      font-size: 0.85em;
      margin: 0;
      padding:0px 15px 6px;
    }

    & > .bug-last-change-date {
      color: #666;
      text-align: right;
      font-size: 0.7em;
      padding-right: 5px;
    }

    & > .bug-status {
      background-color: #999999;
      border-radius: 2px;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      color: #FFF;
      font-size: 0.8rem;
      line-height: inherit;
      min-width: 3rem;
      padding: 0px 6px;
      position: absolute;
      right: 45px;
      text-align: center;
      top: 0px;

      &.assigned {background-color: #F4511E;}
      &.new      {background-color: #03A9F4;}
      &.resolved {background-color: #5e35b1;}
      &.verified {background-color: #7cb342;}
    }

    & > .bug-assignee-picture {
      border-radius: 0 2px 0 10px;
      box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.15);
      height: 32px;
      position: absolute;
      right: 0;
      width: 32px;
      top: 0;
    }
  }
}
