@import "~normalize.scss/normalize";
@import "variables";
@import url(http://fonts.googleapis.com/css?family=Fira+Sans:400,500);

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  background-color: $bgColor;
  height: 100%;

  body {
    height: 100%;
    font-family: "Fira Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  #content {
    height: 100%;
  }
}

.bztasks {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  h1 {
    background: $headerBg;
    color: $headerColor;
    margin: 0;
    padding: 15px 0;
    text-align: center;
    width: 100%;
  }

  .board-wrapper {
    align-items: center;
    display: flex;
    flex: 1;
    flex-direction: column;
  }

  .board {
    align-self: center;
    display: flex;
    flex-grow: 1;
    margin: auto;
    width: 100%;
  }
}

.add-buglist {
  background: transparent url('../images/add.svg') no-repeat center left;
  background-size: 2em;
  border: none;
  flex-shrink: 0;
  height: 2em;
  line-height:2em;
  padding: 0 0 0 2em;
  position: absolute;
  right:23px;
  transition:all 0.2s ease;
  top:23px;

  &:hover {
    transform:scale(1.2,1.2);
  }
}

@import "buglist";